<div class="container-fluid app-content">
  <div class="row">
    <div class="col-sm-10"></div>
    <div class="col-sm-2">
      <button type="" class="btn btn-danger float-right" (click)="open(content)">Create New Applicant</button>
      <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Create New Applicant</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <app-applicant-create (doRefresh)="onRefresh($event)"></app-applicant-create>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-hover applicant-list">
        <thead>
        <th>Applicant Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>Twitter Handle</th>
        <th>Applicant Trust Score</th>
        </thead>
        <tbody>
        <tr *ngFor="let applicant of applicants">
          <td>{{applicant.applicantId}}</td>
          <td>{{applicant.firstName}}</td>
          <td>{{applicant.lastName}}</td>
          <td>{{applicant.age}}</td>
          <td>{{applicant.twitterHandle}}</td>
          <td>
            <span *ngIf="applicant.applicantTrustScore < 0"><button class="btn btn-sm btn-secondary" (click)="generateTrustScore(applicant)">Generate Score</button></span>
            <span class="score-red" *ngIf="applicant.applicantTrustScore >= 0 && applicant.applicantTrustScore < 6">{{applicant.applicantTrustScore}}</span>
            <span class="score-yellow" *ngIf="applicant.applicantTrustScore >= 6 && applicant.applicantTrustScore < 8">{{applicant.applicantTrustScore}}</span>
            <span class="score-blue" *ngIf="applicant.applicantTrustScore >= 8 && applicant.applicantTrustScore < 9">{{applicant.applicantTrustScore}}</span>
            <span class="score-green" *ngIf="applicant.applicantTrustScore >= 9">{{applicant.applicantTrustScore}}</span>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="text-center">
        <span class="score-red">High Risk >=0 && < 6</span>&nbsp;<span class="score-yellow">Moderate Risk >=6 && < 8</span>&nbsp;<span class="score-blue">Low Risk >=8 && < 9</span>&nbsp;<span class="score-green">No Risk >=9</span>
      </div>
    </div>
  </div>
</div>

